.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(#ddd6f3, #faaca8);
}

.signupContainer {
    background-color: white;
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .userName {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
  }
  input {
    padding: 0.3rem;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .login-btn {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.4rem;
    border: none;
    color: white;
    background-color: #00aeff;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background: #239fe7;
  }